.iphone{
    display: none;
}

@media only screen and (min-width:875px){
    .iphone{
        display: block;
        width: 280px;
        position: relative;
        margin-right: 40px;
        img{
            width: 100%;
        }
        #img-slider {
            position: absolute;
            left: 0;
            right: 0;
            top: 67.5px;
            margin: 0 auto;
            height: 400px;
            width: 232px;
            img{
            display: none;
            }
            .current-img{
            display: block;
            }
        }
    }

}