.get-the-app{
    text-align: center;
    padding: 60px 0 20px 0;
    margin: 0 auto;
    box-sizing: border-box;
    img{
      width: 130px;
      margin-right: 10px;
      cursor: pointer
    }
    img:last-of-type{
      margin-right: 0;
    }
}


@media only screen and (min-width:450px){
  .get-the-app{
    width: 80%;
    padding: 20px 0 20px 0;
  }
}